body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fc0;
    box-shadow: 0 1px 10px black;
}

header .logo img{
    width: 230px;
    height: 80px;

    /* placeholder */
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

.intro {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.intro .text,
.intro .sidebar {
    flex: 1;
    background:rgba(145, 223, 152, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 10px black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
}

.grid .card {
    background:rgba(145, 223, 152, 0.8);
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 1px 10px black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background: #f9f9f9;
    background-color: #fc0;
    box-shadow: 0 1px 10px black;
    margin-top: 50px;
}

footer .footer-logo img{
    width: 240px;
    height: 80px;
    
    /* placeholder */
}

footer .footer-text {
    flex: 1;
    margin-left: 20px;
}

.container h1 {
    border-top: 2px solid #ddd;
    text-align: center;
    padding-top: 25px;
}
.grid-container {
    padding: 10px 200px;
}

.container-info h1 {
    text-align: center;
    padding-top: 25px;
}

.grid .card-square {
    background: rgba(145, 223, 152, 0.8);
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1 / 1;
    box-shadow: 0 1px 10px black;
}

.grid .card-square img {
    width: 100px;
    height: 100px;
}

.img {
    text-align: center;
}

.img2 img {
    width: 1200px;
    height: 600px;
}
.img2 {
    text-align: center;
}

.test a {
    text-decoration: none;
}